:root {
  --terminal-background: rgb(111, 34, 50);
}
html {
  font-family: "monospace", sans-serif;
}

body {
  align-items: center;
  background: linear-gradient(
    135.8deg,
    rgb(26, 26, 29) 27.1%,
    var(--terminal-background) 77.5%
  );
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #19191b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e44564;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff4d72;
}

#console-emulator {
  overflow: auto;
  height: 100%;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  cursor: text;
}

#terminal {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgb(0 0 0 / 100%);
  padding: 20px 30px 20px 20px;
  height: 95vh;
  width: 98vw;
}

.terminal-line {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.terminal-line-route {
  color: #ff4d72;
}

#terminal-input {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  background: none;
  color: #fff;
  border: none;
  overflow: unset;
  outline: none;
  width: 80%;
  font-family: "monospace", sans-serif;
}

#table-help {
  border-radius: 10px;
}

#table-help td {
  border-right: 1px solid #e44564;
  margin: 0;
  padding: 0;
}
#table-help td:nth-child(1) {
  width: 150px;
}
#table-help td:nth-child(2) {
  width: 300px;
}
#table-help td:nth-child(3) {
  border: none;
}

a {
  color: #fff;
  text-decoration: none;
}

a span {
  text-decoration: underline;
text-decoration-color: #ff4d72;
}